server:
  port: 8080

spring:
  application:
    name: musiccatalog-api

  datasource:
    url: jdbc:postgresql://localhost:5432/musiccatalogdb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
        jdbc.time_zone: UTC

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

jwt:
  secret: ${SECRET_KEY:my-secret-key}
  expiration: 86400000
  refresh-expiration: 604800000

minio:
  url: ${MINIO_ENDPOINT:http://localhost:9000}
  access-key: ${MINIO_ACCESS_KEY:minioadmin}
  secret-key: ${MINIO_SECRET_KEY:minioadmin123}
  bucket: ${MINIO_BUCKET:music-catalog}