server:
  port: 8080

spring:
  application:
    name: musiccatalog-api

  datasource:
    url: jdbc:postgresql://localhost:5432/musiccatalogdb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
        jdbc.time_zone: UTC

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
